@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}

.welcome-logo img {
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.5);
}

.label {
  z-index: 2;
}

.slide {
  height: 100%;
  width: 50%;
  position: absolute;
  background-color: #fff;
  transition: 0.5s ease;
  transform: translateX(-100%);
  z-index: 1;
}

.slide h1 {
  color: #8000ff;
  font-weight: 800;
  text-align: center;
  padding: 20px 0;
  padding-right: 20px;
  pointer-events: none;
}

.slide ul li {
  list-style: none;
}

.slide ul li a {
  color: #011a41;
  font-weight: 700;
  padding: 5px 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s ease-out;
  font-size: 1.2rem;
}

.slide ul li:hover a {
  color: #fff;
  background-color: #8000ff;
}

.slide ul li a i {
  width: 40px;
  text-align: center;
}

input {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
}

.toggle {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 20px;
  left: 15px;
  z-index: 2;
  cursor: pointer;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.toggle .common {
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #8000ff;
  border-radius: 50px;
  transition: 0.3s ease;
}

.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top_line {
  left: 4px;
  top: 25px;
  width: 40px;
  transform: rotate(45deg);
}
input:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: translateX(20px);
}
input:checked ~ .toggle .bottom_line {
  left: 4px;
  top: 25px;
  width: 40px;
  transform: rotate(-45deg);
}

input:checked ~ .slide {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

#ticketbtn,
#showbtn,
#bookbtn {
  font-size: 2rem;
  padding: 2rem;
  background-color: white;
}

#ticketbtn .button-box {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ticketbtn .button-box a,
#bookbtn .bookbtn-box a {
  text-decoration: none;
  color: #1b1b1f;
}

#ticketbtn .button-box button,
#showbtn .button-box button,
#bookbtn .bookbtn-box button {
  background-color: white;
  border: none;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#ticketbtn .button-box button:hover,
#showbtn .button-box button:hover,
#bookbtn .bookbtn-box button:hover {
  background-color: #555555;
  color: white;
}

.info-box {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 1rem;
}

.info-right,
.info-left {
  padding-left: 3.5rem;
  width: 350px;
}
.info-right h3 {
  padding-top: 0.5rem;
  font-style: italic;
}

.news-container,
.contact-cotainer {
  background-color: white;
  padding: 5rem 0;
}
.news {
  background: #e7e7e7;
  margin: auto;
  width: 720px;
  padding: 10px;
}

.news-headline,
.contact-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 35px;
  text-transform: uppercase;
}

.news-article p,
.contact-article p {
  padding: 0 5rem 2.5rem;
}

.show-off {
  padding: 5rem 0 2.5rem;
  background: white;
}

.display-section,
.plan-container,
.article-section,
.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-container,
.article-container {
  display: inline-grid;
  column-gap: 5rem;
  grid-template-columns: auto auto auto;
}
.display-box {
  padding-bottom: 5rem;
}
.display-box img {
  max-height: 200px;
  transition: transform 0.5s ease;
}

.display-box:hover img {
  transform: scale(1.05);
}

#showbtn .button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-img img {
  max-width: 550px;
}

.plan-container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.plan-box {
  padding-left: 5rem;
}

.plan-headline {
  font-size: 35px;
  text-transform: uppercase;
}

.plan-list ul {
  padding-top: 1rem;
}

.plan-list ul li a {
  color: #011a41;
  font-weight: 700;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  transition: 0.2s ease-out;
  font-size: 1.5rem;
}

.plan-list ul li:hover a {
  color: #fff;
  background-color: #555555;
}

.plan-list ul li a i {
  width: 40px;
  text-align: center;
}

#article {
  padding: 5rem;
}

.article-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
}

.article-section {
  padding: 5rem 0 5rem;
}

.article-box {
  height: 250px;
  width: 250px;
  border: 1px solid;
  padding: 1.2rem;
  background-image: url("../imgs/glenn-carstens-peters-1F4MukO0UNg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}

.article-box:hover {
  transform: scale(1.05);
}

footer {
  background-color: #1b1b1f;
  padding: 50px 20px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-link h1 {
  color: white;
}
.footer-link ul {
  list-style: none;
}

.footer-link ul li a {
  color: #ffff;
  opacity: 0.5;
  margin: 4px 0px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all ease 0.3s;
  text-decoration: none;
}

.footer-link li a:hover {
  opacity: 1;
  transition: all ease 0.3s;
}

/* Tickets */

.booking {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking input {
  visibility: visible;
  display: block;
}

.booking select,
.booking input {
  width: 100%;
  padding: 12px 20px;
  margin: 1rem 0;
  border: none;
  border-radius: 4px;
  background-color: #e7e7e7;
  font-size: 16px;
  border: 1px solid;
}

.ticket-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#bookbtn .bookbtn-box {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Payment */

.pay-row input {
  visibility: visible;
  display: block;
}

.pay-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.pay-col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.pay-col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.pay-col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.pay-col-25,
.pay-col-50,
.pay-col-75 {
  padding: 0 16px;
}

.pay-container {
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 0.9rem;
  margin: 15rem 35%;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 12px;
  margin: 1.5rem auto;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #555555;
}

/* Contact */

.contact-container {
  margin: 10rem 0;
}

.contact {
  background: #e7e7e7;
  margin: auto;
  width: 75%;
  padding: 10px;
}

/* Mobile friendly */

@media screen and (max-width: 600px) {
  header img {
    width: 75%;
  }

  .slide {
    width: 100%;
  }

  .info-box {
    display: block;
  }

  .info-left {
    padding-bottom: 5rem;
  }

  .news {
    width: 100%;
  }

  .news-article p {
    padding: 0 1rem 2.5rem;
  }

  .news-headline h2 {
    padding: 0 1.5rem;
  }

  .plan-container {
    display: block;
  }

  .banner-container img {
    max-width: 100%;
  }

  .footer-container h1 {
    font-size: 1rem;
  }

  .footer-link ul li a {
    font-size: 0.8rem;
  }
}
